.footer {
  background-color: #091a38;
  color: #fff;
  padding-top: 30px;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-top {
  margin-bottom: 2%;  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 150px;
  flex-wrap: wrap;
}

.plus-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  width: 15px;
  height: 15px;
  border: 1px solid #b3bac5;
  border-radius: 50%;
  margin-right: 12px;
  color: #b3bac5;
  font-size: 14px;
  transform: scale(1.2);
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list p.list-heading {
  font-weight: bold;
  margin-bottom: 12%;
  text-align: start;
  color: white;
}

.footer-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-list ul li {
  margin-bottom: 8px;
  font-weight: 100;
  display: flex;
  align-items: center;
  color: #b3bac5;
}

.footer-list ul li a {
  color: #b3bac5;
  text-decoration: none;
}

.footer-list ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #b3bac5;
  border-radius: 10px;
  margin: 1px 150px;
  height: 100px;
  margin-top: 25px;
}

.footer-disclaimer {
  color: white;
  font-weight: bold;
  text-align: center;
}

.disclaimer-section {
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 2%;
}

@media (max-width: 1024px) {
  .footer-top {
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .footer-list {
    width: 100%;
  }

  .footer-list ul li {
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .footer-list p.list-heading {
    margin-bottom: 10px;
    margin-left: 10px;

  }

  .disclaimer-section {
    margin: 20px;
  }

  .footer-bottom {
    display: none;
  }
}

@media (max-width: 480px) {
  .footer-top {
    gap: 10px;
  }

  .footer-list ul li {
    font-size: 12px;
  }

  .footer-list p.list-heading {
    font-size: 14px;
  }
}
