/* index.css */
body {
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  margin: 0; /* Optional: To remove default margin */
  padding: 0; /* Optional: To remove default padding */
  box-sizing: border-box; /* Optional: To include padding and border in the element's total width and height */
}
